# C++ Build Files
build/
bin/
obj/
*.pyd
*.so
*.dylib
*.a
*.lib

# Python Temporary Files
__pycache__/
*.py[cod]
*$py.class
dist/
build/
wheelhouse/
*.egg-info/
.venv/
env/

# OS Specific
.DS_Store
Thumbs.db
